body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(45deg, darkblue, blue);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #d3d3da;
}

p {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 20px;
  }

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

.label {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);

}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 1%;
    margin-top: 2%;
    color: #000000;
}

input[type="text"],
input[type="number"],
select {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"],
button {
    width: 50%;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    background-color: #0056b3;
}

.cancelar {
    margin-left: 2%;
    width: 50%;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancelar:hover {
    background-color: darkred;
}

input[type="reset"].limpar {
    width: 32%;
    padding: 10px 20px;
    background-color: rgb(199, 199, 36);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="reset"].limpar:hover {
    background-color: darkgoldenrod;
}

#hr_col {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    margin-bottom: 15%;
}

#hr_entr {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    margin-bottom: 15%;

}

.horarios {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
