body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f5;
    color: rgba(32, 32, 32, 0.8);
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

p {
    margin-left: 20px;
}

label {
    margin-left: 20px;
}

h1 {
    margin-left: 20px;
}

h3 {
    margin-left: 20px;
}

form {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"],
select {
    width: 350px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#hr_col {
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 15%;
}

#hr_entr {
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 15%;
}

.horarios {
    display: flex;
    gap: 5%;
}

#obs {
    font-family: Arial, sans-serif;
    width: 800px;
    height: 200px;
    margin-left: 20px;
    margin-bottom: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

.button-container {
    display: flex; 
    gap: 20px; 
    justify-content: center;
}

input[type="submit"],
button,
input[type="reset"],
a.cancelar {
    font-size: 16px;
    width: 250px;
    padding: 10px 20px;
    margin-top: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    display: inline-block; /* Para âncoras se comportarem como botões */
}

input[type="submit"] {
    background-color: #007bff;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a.cancelar {
    background-color: red;
}

a.cancelar:hover {
    background-color: darkred;
}

input[type="reset"].limpar {
    background-color: rgb(199, 199, 36);
}

input[type="reset"].limpar:hover {
    background-color: darkgoldenrod;
}
