body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f5;
    height: 200%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
    zoom: 80%;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

.box-search {
    display: flex;
    justify-content: center;
    gap: .1%;
    margin-top: 2%;
}

.form-control {
    border-radius: 8px;
    width: 20%;
    padding: 5px;
}

.pesquisa {
    width: 5%;
    background-color: rgb(36, 99, 193);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pesquisa:hover {
    background-color: darkblue;
}

.table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    overflow-x: auto;
    border-radius: 10px;
}

.table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    overflow-x: auto;
}

.table th,
.table td {
    border: 1px solid #9d9d9d;
    color: rgb(32, 32, 32);
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: rgb(36, 99, 193);
    color: aliceblue;
}

.table tr:nth-child(odd) {
    background-color: #d0d0d0;
}

.alterar {
    padding: 10px 20px;
    background-color: rgb(36, 99, 193);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.alterar:hover {
    background-color: darkblue;
}

.excluir {
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.excluir:hover {
    background-color: darkred;
}

.voltar {
    width: 5%;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.voltar:hover {
    background-color: darkred;
}
