body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f5;
    color: rgba(32, 32, 32, 0.8);
    margin: 0;
    padding: 0;
    margin-top: 100px;
}

h1 {
    color: rgb(36, 99, 193);
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

.container {
    max-width: 600px;
    margin: 20px auto;
    margin-top: -50px;
    padding: 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 50%;
    padding: 10px 20px;
    background-color: rgb(36, 99, 193);
    color: #fff;
    font-size: 18;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

button[type="button"] {
    width: 50%;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 25%;
}

button[type="button"]:hover {
    background-color: darkred;
}

.button-container {
    display: flex;
  }
  
.button-container button {
    margin-right: 10px;
  }

#update {
    width: 50%;
    padding: 10px 20px;
    background-color: rgb(57, 167, 102);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#update:hover {
    background-color: green
}
  
