body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(45deg, darkblue, blue);
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 0;
    height: 100vh;
}



a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: large;
  }

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="button"] {
    width: 100%;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center
}

button[type="button"]:hover {
    background-color: darkred;
}

.button-container {
    margin-top: 50px;
}
