* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecalho {
  background-color: rgb(36, 99, 193);
  padding: 0% 0% 0% 3%;
}

.cabecalho_menu {
  display: flex;
  align-items: baseline;
}

.cabecalho_menu_logo {
  font-family:'Trebuchet MS';
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  margin-right: 2%;
}

.cabecalho_menu_link {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  display: block;
  padding: 1%;
  transition: background-color 0.3s;
  cursor: pointer;
}

.cabecalho_menu_link:last-child {
  align-items: end; 
  margin-left: 65%;
}

.cabecalho_menu_link:hover {
  background-color: darkred;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f4f5;
}

.config-container-text {
  color: rgba(32, 32, 32, 0.8);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 160px;
}

.config-container {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.config-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  background-color: rgb(36, 99, 193);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-align: center;
  margin-bottom: 200px;
}

.config-container a:hover {
  background-color: darkblue;
  cursor: pointer;
}

  