* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f5;
    color: rgb(36, 99, 193);
  }
  
.cabecalho {
    background-color: rgb(36, 99, 193);
    padding: 0% 0% 0% 3%;
}

.cabecalho_menu {
    display: flex;
    align-items: baseline;
}

.cabecalho_menu_logo {
    font-family:'Trebuchet MS';
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    margin-right: 2%;
}

.cabecalho_menu_link {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    display: block;
    padding: 1%;
    transition: background-color 0.3s;
    cursor: pointer;
}

.cabecalho_menu_link:last-child {
    align-items: end; 
    margin-left: 65%;
}

.cabecalho_menu_link:hover {
    background-color: darkblue;
}
  
.index-container {
    background-color: white;
    border-radius: 8px;
    border: 2px rgb(88, 88, 88);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 300px;
    margin-left: 40%;
    margin-top: 10%;
  }

.index-container h1 {
    color: rgb(36, 99, 193);
    text-align: center;
    margin-bottom: 50px;
  }

  .index-container a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
  }

.index-container button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(36, 99, 193);
    color: #ffffff;
    cursor: pointer;
  }
  
.index-container button:hover {
    background-color: darkblue;
  }

  .rodape {
    color: black;
    background-color: white;
    padding: 24px;
    position: absolute;
    display: inline-flex;
    bottom: 0%;
    width: 100%;
    gap: 100px;
}

.rodape p {
    margin-left: 100px;
} 