* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f4f5;
  }

.cabecalho {
    background-color: rgb(36, 99, 193);
    padding: 0% 0% 0% 3%;
}

.cabecalho_menu {
    display: flex;
    align-items: baseline;
}

.cabecalho_menu_logo {
    font-family:'Trebuchet MS';
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    margin-right: 2%;
}

.cabecalho_menu_link {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    display: block;
    padding: 1%;
    transition: background-color 0.3s;
    cursor: pointer;
}

.cabecalho_menu_link:last-child {
    align-items: end; 
    margin-left: 65%;
}

.cabecalho_menu_link:hover {
    background-color: darkblue;
}

.main_texto {
    margin-top: 5%;
    text-align: center;
}

.main_texto h1 {
    font-family:'Trebuchet MS';
    font-size: 50px;
    color: rgb(36, 99, 193);
    margin-bottom: 20px;
}

.main_texto h2 {
    color: black;
}

.rodape {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: white;
    padding: 24px;
    position: absolute;
    display: inline-flex;
    bottom: 0%;
    width: 100%;
    gap: 100px;
}

.rodape p {
    margin-left: 100px;
}